/* color palete 

orange: FC573B
blå: 172A39
hvid/beige: E8DAD1
beige: AD9C8C
sort: 1D1D1F

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #E8DAD1;
    background-color: #1D1D1F;
}

/* Header */
header {
    background: #1d1d1fcb;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(5px);
}

/* Sørge for at header ikke blokere for content */
.with-fixed-header {
    padding-top: 125px; 
}

/* Header navigation - space items and logo evenly */
.header__nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

/* Navigation Links */
.nav__links {
    display: flex;
    gap: 20px;
    list-style: none;
    flex: 1;
    justify-content: center;
}

.nav__links a {
    text-decoration: none;
    font-size: 1rem;
    color: #E8DAD1;
    padding: 5px 10px;
    transition: color 0.3s;
}

.nav__links a:hover {
    color: #FC573B;
}

/* Left and Right Links */
.nav__links.nav__links--left {
    justify-content: flex-end; /* Align left links to the left */
}

.nav__links.nav__links--right {
    justify-content: flex-start; /* Align right links to the right */
}

/* Logo Container */
.header__logo {
    flex:  0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.logo__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191B19;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.logo__circle:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 10px #FC573B;
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 20px #FC573B;
    }
}


.logo__circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Sections spacer */
section {
    padding: 40px 15px;
    margin: 30px 0;
    
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    background-color: #1D1D1F;
}

.hero__image-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 70%;
    display: block;
    align-content: center;
    border-radius: 20px;
}

.hero__content {
    position: absolute;
    bottom: 50px;
    text-align: center;
    color: #E8DAD1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.hero h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4.5rem;
    margin: 0px;
}

/* Projects Section */
.projects {
    background-color: #E8DAD1;
    padding: 60px 15px;
    text-align: center;
    border-radius: 30px 30px 0 0;
}

.projects__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project__item {
    background: #172A39;
    color: #E8DAD1;
    padding: 15px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project__item:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.project__button {
    padding: 8px 12px;
    background: #000000;
    color: #E8DAD1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.project__button:hover {
    background: #C6C6C6;
    color: #000000;
}

/* Professionelle egenskaber afsnit */
.properties ul {
    list-style: none;
    padding: 0;
}

.properties ul li {
    background: #191B19;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #000000;
    color: #F3F3F3;
    font-size: 0.8rem;
}



/* Media Queries */


/* Medium Screens (Tablets) */
@media (min-width: 768px) {
    .nav-links {
        flex-direction: row; 
        gap: 20px;
    }

    /* Side-by-side - Two projects per row for tablets */

    .projects__grid {
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .project__item {
        width: 45%; 
    }


}

/* Large Screens (Desktop) */
@media (min-width: 1024px) {
    .project__item {
        width: 30%; /* Three projects per row for desktop */
    }

    .nav-links {
        gap: 30px; /* Increase gap for desktop for more even spacing */
    }

    body {
        font-size: 20px; /* Larger font for readability */
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.8rem;
        margin-left: 60px;
        margin-bottom: 30px;
        text-align: left;
        color: #1D1D1F;
    }

    h3 {
        font-size: 2.2rem;
    }
}