/* color palete 

orange: FC573B
blå: 172A39
hvid/beige: E8DAD1
beige: AD9C8C
sort: 1D1D1F

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif; 
    font-weight: 400;
    margin-bottom: 16px;
  }
  
  h1 {
    font-size: 3rem; 
  }

  h2 {
    font-size: 2rem; 
    text-align: left;
  }

  h3 {
    font-size: 1.5rem; 
    text-align: left;
  }

  h4 {
    font-size: 1.3rem; 
    text-align: left;
  }

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #E8DAD1;
    background-color: #1D1D1F;
}

/* Header */
header {
    background: #1d1d1fcb;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(5px);
}

/* Sørge for at header ikke blokere for content */
.with-fixed-header {
    padding-top: 125px; 
}

/* Header navigation - space items and logo evenly */
.header__nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

/* Navigation Links */
.nav__links {
    display: flex;
    gap: 20px;
    list-style: none;
    flex: 1;
    justify-content: center;
}

.nav__links a {
    text-decoration: none;
    font-size: 1rem;
    color: #E8DAD1;
    padding: 5px 10px;
    transition: color 0.3s;
}

.nav__links a:hover {
    color: #FC573B;
}

/* Left and Right Links */
.nav__links.nav__links--left {
    justify-content: flex-end; /* Align left links to the left */
}

.nav__links.nav__links--right {
    justify-content: flex-start; /* Align right links to the right */
}

/* Logo Container */
.header__logo {
    flex:  0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.header__logo--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191B19;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.header__logo--circle:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 10px #FC573B;
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 20px #FC573B;
    }
}


.header__logo--circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    background-color: #1D1D1F;
}

.hero__image-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 70%;
    display: block;
    align-content: center;
    border-radius: 20px;
}

.hero__content {
    position: absolute;
    bottom: 5px;
    text-align: center;
    color: #E8DAD1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.hero__title {
    font-size: 4rem;
}

.sectionline {
    display: flex; 
    align-items: center; 
}

.sectionline h2 {
    margin: 0; 
}

.sectionline .divider {
    flex-grow: 1; 
    height: 2px; 
    background-color: #E8DAD1; 
    margin-left: 10px; 
}

.projects .sectionline .divider {
    flex-grow: 1; 
    height: 2px; 
    background-color: #1D1D1F; 
    margin-left: 10px;
}

/* Projects Section */
.projects {
    background-color: #E8DAD1;
    padding: 40px 20px;
    margin: 20px 0;
    text-align: left;
    border-radius: 30px 30px 0 0;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 40px;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.projects h2 {
    color: #1D1D1F; 
}

.project__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #172A39;
    color: #E8DAD1;
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.project__item img {
    max-width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 20px; 
    border-radius: 10px; 
}

.animation {
    width: 100%;
    height: 600px;
    max-width: 400px;
    background: url('pictures/animation.webp') 0 0 no-repeat;
    animation: play 1.5s steps(12) infinite;
    animation-direction: alternate;  
}
@keyframes play 
{
    0%{background-position:0px;}
    100%{background-position: -4800px;}
}

.project__item h3 {
    text-align: left; 
    align-self: flex-start; 
    margin-bottom: 20px; 
    width: 100%; 
}

.project__item p {
    text-align: left; 
    align-self: flex-start; 
    margin-bottom: 20px; 
    width: 100%; 
}

.project__item:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 5px 15px #1D1D1F;
}

.project__button {
    padding: 10px 20px;
    background: #1D1D1F;
    color: #E8DAD1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.project__button:hover {
    background: #E8DAD1;
    color: #1D1D1F;
}

/* services og egenskaber afsnit */

.services {
    background-color: #1D1D1F;
    padding: 40px 20px;
    margin: 30px 0;
    text-align: left;
    border-radius: 30px 30px 0 0;
    align-items: center;
    justify-content: center;
    
}

.services__gridcontainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 30px;
    border: 1px solid #1D1D1F;
    border-radius: 10px;
    box-shadow: 0 4px 8px #1D1D1F;
}

.services__item h2 {
    text-align: left; 
    align-self: flex-start; 
    margin-bottom: 20px; 
    width: 100%;
}

.services__item p {
    text-align: left; 
    align-self: flex-start; 
    margin-bottom: 20px; 
    width: 100%; 
}

.services__list {
    list-style: circle;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #E8DAD1;
}

.services__item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; 
    border-radius: 10px;
}

/* Projekt siden */

.projectpage {
    padding: 40px 20px;
    width: 100%;
}

/* Hero sektion */
.projectpage__grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px 20px;
    margin: 20px 0;
}

.projectpage__item {
    text-align: left;
    border: 2px solid #E8DAD1;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.projectpage__item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}

.projectpage__item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* yderligere information under hero sektion - opdelt */
.projectpage__split {
    display: flex; 
    flex-wrap: nowrap; 
    gap: 20px; 
    align-items: flex-start; 
    margin: 20px 0;
}
/* tekst i div for at opdele */
.projectpage__split div {
    flex-grow: 1; 
}

.projectpage__split img {
    width: 100%; 
    max-width: 150px; 
    margin-left: 20px; 
    margin-top: 10px;
    border-radius: 10px; 
    object-fit: cover;
}
/* Plads under h3 */
.projectpage__split h3 {
    margin: 0 0 10px; 
}


.image__hca {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.projectpage__imagesplit {
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.projectpage__imagesplit img {
    width: 100%;
    height: auto;
    border-radius: 10px;  
}

.projectpage__split li {
    list-style: circle;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #E8DAD1;
    margin-left: 20px;
}

/* ommig siden */

.about {
    background-color: #1D1D1F;
    padding: 40px 20px;
    margin: 20px 20px;
    text-align: left;
    border-radius: 30px 30px 0 0;
}

.about__intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__intro img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px; 
    border-radius: 10px; 
}

/* YouTube Channel Section */
.youtube-channel {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 20px;
}

.video-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.videos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video iframe {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    gap: 20px;
}

/* Kontakt side */
.contact__header {
    text-align: center;
}

.contact {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #E8DAD1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact__title {
    text-align: center;
    color: #1D1D1F;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form-group {
    margin-bottom: 15px;
}

.contact__label {
    margin: 10px 0 5px;
    font-weight: bold;
    display: block;
    color: #1D1D1F;
}

.contact__input, 
.contact__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #1D1D1F;
    border-radius: 5px;
    font-size: 1em;
}

.contact__button {
    padding: 10px;
    background-color: #172A39;
    color: #E8DAD1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.contact__button:hover {
    background-color: #172A39;
}

.contact__info {
    margin-top: 30px;
    padding: 15px;
    background: #E8DAD1;
    border-radius: 8px;
}

.contact__info-title {
    text-align: center;
    color: #1D1D1F;
    margin-bottom: 15px;
}

.contact__info-item {
    margin: 10px 0;
    line-height: 1.6;
    color: #1D1D1F;
}

/* Footer */
footer {
    background: #E8DAD1;
    color: #1D1D1F;
    font-size: 0.8rem;
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.footer-section {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #1D1D1F;
    text-align: left;
}

footer a {
    color: #1D1D1F;
    text-decoration: none;
    margin: 0 10px;
    text-align: left;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries */


/* Medium Screens (Tablets) */
@media (min-width: 768px) {
    .nav-links {
        flex-direction: row; 
        gap: 20px;
    }


    .projects__grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
    }

    .projectpage__split img {
        max-width: 200px; 
    }

    .services__gridcontainer {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
    }
    .hero__title {
        font-size: 4.5rem;
    }

    h1 {
        font-size: 3.5rem; 
      }
    
      h2 {
        font-size: 2.5rem; 
      }
    
      h3 {
        font-size: 2rem; 
      }

      h4 {
        font-size: 1.5rem; 
      }
    }

/* Large Screens (Desktop) */
@media (min-width: 1024px) {
    
    .projects__grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px; 
    }
    
    .services__gridcontainer {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
    }

    .projectpage__split img {
        max-width: 300px; 
    }
    .videos {
        flex-direction: row;
    }

    body {
        font-size: 1.2rem; 
      }
    .hero__title {
        font-size: 5rem;
    }
    
      h1 {
        font-size: 4rem; 
      }
    
      h2 {
        font-size: 2.8rem;   
      }
    
      h3 {
        font-size: 2.2rem; 
      }
      h4 {
        font-size: 1.7rem; 
      }
}

@media (max-width: 580px) {

    .nav__links {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
    }
    .nav__links a {
        font-size: 0.9rem; 
        padding: 5px; 
    }

    .header__nav {
        padding: 10px;
        justify-content: center;
    }
    .with-fixed-header {
        padding-top: 200px; 
    }

    .header__logo {
        display: none; 
    }

    .video iframe {
        width: 100%; /* Full width for mobile */
        max-width: none; /* Remove any maximum width restriction */
        border-radius: 5px; /* Slightly smaller border radius */
    }
}